<!doctype html>
<html lang="en">
    <head>
        <title>ACP Control Times Display</title>
        <meta charset="utf-8">
        <!-- 'viewport' is used by bootstrap to respond to device size -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap includes javascript and css  (must follow jquery) -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
            crossorigin="anonymous">
        <!-- Javascript:  JQuery from a content distribution network (CDN) -->
        <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
            crossorigin="anonymous"></script>
        <!-- moment.js is the JavaScript equivalent of arrow.py -->
        <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
        <style>
            .button {
                color: seagreen;
                border: 2px solid seagreen;
                border-radius: 5px;
                height: 30px;
            }
            .option_format {
                font-weight: bold;
                margin-left: 15px;
                margin-top: 5px;
            }
            .display {
                margin-bottom: 10px;
                margin-left: 15px;
                color: darkcyan;
            }
            .frame {
                margin-top: 20px;
                color: seagreen;
                border-radius: 20px;
                border: 2px solid seagreen;
                padding: 20px;
                width: 530px;
                height: 100px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1 class="frame">ACP Control Times Display</h1>
            <p style="color:seagreen; font-size:18px; font-weight:bold; margin-top:25px; margin-bottom:20px">
                Select the option and/or fill in the textbox for one of the followings to view the latest submission of the control times!</br>
            </p>
            <form style="margin-bottom:10px;">
                Display all the open and close times in
                <select name="datatype1" id="datatype1" required>
                    <option value="none" selected disabled hidden>
                        Select an Option
                    </option>
                    <option value="json">JSON</option>
                    <option value="csv">CSV</option>
                </select>
                format.
                <button type="button" class="button" onclick="retrieve('1')">Submit</button>
            </form>
            <pre class="display" id="display1"><code></code></pre>
            <form style="margin-bottom:10px;">
                Display only the open times in
                <select name="datatype2" id="datatype2" required>
                    <option value="none" selected disabled hidden>
                        Select an Option
                    </option>
                    <option value="json">JSON</option>
                    <option value="csv">CSV</option>
                </select>
                format.
                <button type="button" class="button" onclick="retrieve(2)">Submit</button>
            </form>
            <pre class="display" id="display2"></pre>
            <form style="margin-bottom:10px;">
                Display only the close times in
                <select name="datatype3" id="datatype3" required>
                    <option value="none" selected disabled hidden>
                        Select an Option
                    </option>
                    <option value="json">JSON</option>
                    <option value="csv">CSV</option>
                </select>
                format.
                <button type="button" class="button" onclick="retrieve(3)">Submit</button>
            </form>
            <pre class="display" id="display3"></pre>
            <form>
                Display the top
                <input type="text" size="3" id="top" required>
                <select name="displaytype" id="displaytype" required>
                    <option value="none" selected disabled hidden>
                        Select an Option
                    </option>
                    <option value="both">open and close times</option>
                    <option value="open">open times</option>
                    <option value="close">close times</option>
                    <!--<input type="submit" value="Submit"> -->
                </select>
                in
                <select name="datatype4" id="datatype4" required>
                    <option value="none" selected disabled hidden>
                        Select an Option
                    </option>
                    <option value="json">JSON</option>
                    <option value="csv">CSV</option>
                </select>
                format.
                <button type="button" class="button" onclick="retrieve(4)">Submit</button>
            </form>
            <p class="option_format" style="color:seagreen">
                * Note: If the typed-in value in the textbox is larger than the total number of submitted control times,
                it will list all the control times.
            </p>
            <pre class="display" id="display4"></pre>
            <script>
                var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                var LIST_ALL = SCRIPT_ROOT + "/listAll";
                var LIST_OPEN = SCRIPT_ROOT + "/listOpenOnly";
                var LIST_CLOSE = SCRIPT_ROOT + "/listCloseOnly";


                function retrieve(option){
                    var datatype_id = "#datatype" + option;
                    var display_id = "display" + option;
                    var datatype_val = $(datatype_id).val();
                    var display = document.getElementById(display_id)
                    var displaytype_val = $("#displaytype").val()
                    var top_k = $("#top").val();
                    var error = false;

                    // Handling error cases for the last functionality.
                    // Not typing in the posivie integer for top_k or not selecting option for display type
                    if (option == "4") {
                        if (error == false && (top_k == "" || parseInt(top_k) <= 0)) {
                            error = true;
                            alert("Need to type in a positive integer in the textbox!");
                        }
                        if (error == false && displaytype_val == null) {
                            error = true;
                            alert("Need to select one of the options!");
                        }
                    }
                    else {
                        // If top_k == 0, it will display all the rows in the collection of db
                        // The first three functionalities will default top_k to 0.
                        if (top_k == "") {
                            top_k = "0";
                        }

                    }
                    // Handling error case for not selecting option for data type
                    if (error == false && datatype_val == null) {
                        error = true;
                        alert("Need to select one of the options!");
                    }
                    // If there's no error on typed in or selected values, get the data from api
                    if (error == false) {
                        if (option == "1" || (option == "4" && displaytype_val == "both")) {
                            $.getJSON(LIST_ALL, {top: top_k, datatype: $(datatype_id).val()}).done(
                                function(data) {
                                    if (data.result == "empty") {
                                        alert("The database is empty. Please, submit the control time on the ACP calculator page.");
                                    }
                                    else {
                                        display.innerHTML = data.result;
                                    }
                                }
                            ).fail(function(err){
                                console.log("Error!");
                            });
                        }
                        else if (option == "2" || (option == "4" && displaytype_val == "open")) {
                            $.getJSON(LIST_OPEN, {top: top_k, datatype: $(datatype_id).val()}).done(
                                function(data) {
                                    if (data.result == "empty") {
                                        alert("The database is empty. Please, submit the control time on the ACP calculator page.");
                                    }
                                    else {
                                        display.innerHTML = data.result;
                                    }
                                }
                            ).fail(function(err){
                                console.log("Error!");
                            });
                        }
                        else if (option == "3" || (option == "4" && displaytype_val == "close")) {
                            $.getJSON(LIST_CLOSE, {top: top_k, datatype: $(datatype_id).val()}).done(
                                function(data) {
                                    if (data.result == "empty") {
                                        alert("The database is empty. Please, submit the control time on the ACP calculator page.");
                                    }
                                    else {
                                        display.innerHTML = data.result;
                                    }
                                }
                            ).fail(function(err){
                                console.log("Error!");
                            });
                        }
                    }
                }

            </script>
        </div>
    </body>
</html>
